$fa-font-path: '/fonts/font-awesome';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import '../css/style.css';

@import 'header';
@import 'modal';
@import 'chat';

.c-dark-theme {
    .table {
        .table-active > td {
            color: #e1e1e1;
        }

        .tr-other {
            background-color: #2E2F3B;
        }

        .tr-in {
            background-color: #1c8000;
        }

        .tr-out {
            background-color: #8e0000;
        }

    }

    select {
        option {
            background-color: #44454C;
        }
    }
}

