.chat {
    .message {
        background-color: #20202a;
        border-color: #181924;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;

        &::after {
            content: "";
            clear: both;
            display: table;
        }

        pre {
            font-size: 0.875rem;
            color: #e1e1e1;
        }
    }

    .darker {
        border-color: #20202a;
        background-color: #181924;
    }

    .time-right {
        float: right;
        color: #aaa;
    }

    .time-left {
        float: left;
        color: #999;
    }
}



