.c-dark-theme {
    .modal {
        .modal-content {
            background-color:  #23242d;
            border-color: #181924;
        }

        .modal-header {
            .close {
                color: #e1e1e1;

                &:hover {
                    color: #e1e1e1;
                }
            }
        }
    }
}
