.table-header-rotated {
    border-collapse: collapse;
    td {
        width: 30px;
    }
    th {
        padding: 1px 1px;
    }
    td {
        text-align: center;
        padding: 1px 1px;
        border: 1px solid #ccc;
    }
    th.rotate {
        height: 140px;
        white-space: nowrap;
        // Firefox needs the extra DIV for some reason, otherwise the text disappears if you rotate
        > div {
            transform:
                // Magic Numbers
                translate(18px, 51px)
                    // 45 is really 360-45
                rotate(315deg);
            width: 30px;
        }
        > div > span {
            border-bottom: 1px solid #ccc;
            padding: 2px 10px;
        }
    }
    th.row-header {
        padding: 0 10px;
        border-bottom: 1px solid #ccc;
    }
}
