.table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table-fixed {
    table-layout: fixed;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table tr:hover td {
    background-color: #f6fbff;
}

.table th {
    @apply .font-bold .text-xs .uppercase .border-b-2 .py-3 .px-3 .tracking-wide .align-middle;
    color: #7c858e;
    background-color: #f4f7fa;
    border-color: #e3e7eb;
}

.table td {
    @apply .font-light .border-t .border-b .px-3 .align-middle;
    color: #3c4b5f;
    border-color: #e3e7eb;
    height: 3.8125rem;
}

.table-sm td {
    height: 2.2rem;
}

.th-fit,
.td-fit {
    width: 1%;
    white-space: nowrap;
}
