.table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table-fixed {
    table-layout: fixed;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table tr:hover td {
    background-color: #f6fbff;
}

.table th {
    @apply .font-bold .text-xs .uppercase .border-b-2 .py-3 .px-3 .tracking-wide .align-middle;
    color: #7c858e;
    background-color: #f4f7fa;
    border-color: #e3e7eb;
}

.table td {
    @apply .font-light .border-t .border-b .px-3 .align-middle;
    color: #3c4b5f;
    border-color: #e3e7eb;
    height: 3.8125rem;
}

.th-fit,
.td-fit {
    width: 1%;
    white-space: nowrap;
}

.alert {
    @apply .text-sm .border .border-t-8 .rounded .px-3 py-4 .mb-4;
}

.alert-info {
    @apply .text-blue-700 .border-blue-600 .bg-blue-100;
}

.alert-success {
    @apply .text-green-700 .border-green-600 .bg-green-100;
}

.alert-warning {
    @apply .text-orange-700 .border-orange-600 .bg-orange-100;
}

.alert-danger {
    @apply .text-red-700 .border-red-600 .bg-red-100;
}


.vehicle-info {
     @apply .text-gray-800 .font-light .ml-2;
 }

.vehicle-info dt {
    @apply .pb-2 .text-base;
}

.vehicle-info dd {
    @apply .pb-4;
}


.user-stats {
    @apply .text-gray-900 .font-light;
}

.user-stats dt {
    @apply .pb-2 .text-lg;
}

.user-stats dd {
    @apply .pb-4;
}

.user-stats dd a {
    @apply .text-blue-600;
}
